

 body{
        background-image: url(/Asset/img/chris-liverani-oCsaxvGCehM-unsplash\(1\).jpg);
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

      }
      


 body{
 background-color: lightgrey;

 }


 nav{

 background-color: #970747;

 } 

 #color_navlink:hover{
  text-decoration: underline;

 }



 #color_navlink{
  color: whitesmoke;
  text-decoration: none;
 }

 #OMBRE{
  filter: drop-shadow(0rem 0rem 0.25rem #000000);
 }

 #colorcards{
  color: black;
  text-decoration: none;
 }

 .btn{
 background-color: #970747; color: white;
 }

 #colors_ombre{
  background-color: #970747; color: white;
  filter: drop-shadow(0rem 0rem 0.25rem #000000);
 }

 #cardplat:hover{
 transform: scale(1.10);
 }

 #cardplat{
  transition: all 0.25s;
  filter: drop-shadow(0rem 0rem 0.25rem #000000);
 }

