body{
        background-image: url(/Asset/img/chris-liverani-oCsaxvGCehM-unsplash\(1\).jpg);
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

      }
      


body{
background-color: lightgrey;

}


nav{

background-color: #970747;

}


#OMBRE{
  filter: drop-shadow(0rem 0rem 0.25rem #000000);
}

#colornav{
  color: whitesmoke;
  text-decoration: none;
}

#colorcards{
  color: black;
  text-decoration: none;
}

.btn{
 background-color: #970747; color: white;
}